.header{
  width: 100%;
  background: #0064eb;
}
.header-container {
  max-width: 1366px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  height: 72px;
}
.header_logo {
  margin: 16px 0px 16px 41px;
}
.input_box {
  margin: 16px 0px 16px 22px;
}
