.header {
  width: 100%;
  background: #0064eb;
}

.header__container {
  max-width: 1366px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  height: 72px;
}

.header__container__logo {
  margin: 16px 0px 16px 41px;
}

.header__container__input {
  margin: 16px 0px 16px 22px;
}

@media screen and (max-width: 1024px) {
  .header__container__input {
    margin-right: 10px;
  }
}
