.person-field__container {
  max-width: 1366px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.person-field__container__info {
  margin: 31px 98px 0px 57px;
}
.person-field__container__description {
  margin-top: 29px;
}
.person-field__container__description__mainText {
  margin: 0 0 12px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}
.person-field__container__description__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.person-field__container__img {
  border-radius: 50%;
}
.person-field__container__followsInfo {
  margin-top: 25px;
  display: flex;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: black;
}
.person-field__container__followsInfo div:nth-child(2) {
  margin-left: 25px;
}

@media screen and (max-width: 1024px) {
  .person-field__container {
    flex-direction: column;
  }
  .person-field__container__info {
    margin: 5px auto;
  }
  .person-field__container__info {
    margin: 5px auto;
  }
  .person-field__container__description {
    text-align: center;
  }
  .person-field__container__followsInfo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .person-field__container__img {
    margin-top: 10px;
  }
}
