.link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.descr {
  font-family: Inter;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}
.Repos_container{
   margin: 28px 0px 30px 
}
.Repos_container h1{
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
}
